POSTGRES_DB=workhours
POSTGRES_USER=workhours
POSTGRES_PASSWORD=workhours_local_dev
POSTGRES_PORT=5432

ASPNETCORE_URLS=http://localhost:5020
CORS_ALLOWED_ORIGINS=http://localhost:5173
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=workhours;Username=workhours;Password=workhours_local_dev
